<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ganancias De Envíos</h5>
        </div>
        <div class="card-body">
          <br>
          <br>
          <br>
         
        <div align="center">
          <img src="../../assets/img/ganancias.png">
          <br>
          <br>
          <br>
          <h2>Se han generado {{ganancias}} $ en ganancias por envíos</h2>
        </div>



        </div>
      </div>
    </div>
  </div>
</div>
